<!DOCTYPE html>
<html>
<head>
  <title>Dropply</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= render :partial => "/layouts/javascripts" %>
</head>
<body>

<div id="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>

</body>
</html>
